{{ define "extrahead" }}
<style>

div.rec {
  font-size: 1.1em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

ul {
  margin: 0;
}

div.recommender {
  font-size: 0.8em;
  font-style: italic;
  padding-right: 1em;
}

p {
  font-size: 1.2em;
}
</style>
{{ end }}

{{ define "main" }}

<p>Here are even more RSS feeds recommended by the feeds I follow:</p>

{{ $paginator := .Paginate .Pages }}
{{ range $paginator.Pages }}
  {{ if and (.Title) (.Params.link) }}
  <div class="rec">
    <a href="{{ .Params.link }}" rel=“UGC” rel="nofollow">
      {{ if .Title }}
        {{ .Title | truncate 80 }}
      {{ else }}
        {{ .Params.link | truncate 80 }}
      {{ end }}
    </a>
    {{ if .Description }}
      &mdash;
      {{ .Description | truncate 200 }}
    {{ end }}

    {{- $blogroll := where (where .Site.RegularPages "Section" "network") "Params.destination_url" .Params.feedlink -}}
    {{ if $blogroll }}
    <div class="recommender">Recommended by: 
    <ul>
    {{ range $blogroll }}
    <li><a class="recommender" href="{{ .Params.source_url }}">{{ .Params.source_url }}</a></li>
    {{ end }}
    </ul>
    </div>
    {{ end }}
  </div>
  {{ end }}
{{ end }}
{{ template "_internal/pagination.html" . }}
{{ end }}
