<div class="post">
  <a href="{{ .Params.link }}">
    <h2>
      {{ .Title | truncate 120 }}
    </h2>
  </a>


  <span title="{{ .Date }}" >{{ .Date | time.Format "Monday, Jan 2 2006"}}</span>
    &mdash;

  {{- range (where (where .Site.RegularPages "Section" "following") "Params.id" .Params.feed_id) }}
  <a title="{{ .Title }}" href="following/feed-{{ .Params.id }}">
      {{ if .Title }}
      {{ .Title | truncate 30 }}
      {{ else }}
      {{ (urls.Parse .Params.link).Host }}
      {{ end }}
    </a>
  {{ end }}
</div>
